<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="Detailed" />
        <handlers>
            <add name="1C" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\Program Files\1cv8\current\bin\wsisapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="bitness64" />
        </handlers>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="50000000" />
            </requestFiltering>
        </security>
    </system.webServer>
    <system.web>
        <customErrors mode="Off" />
        <pages validateRequest="false" />
        <httpRuntime requestPathInvalidCharacters="" />
    </system.web>
</configuration>
